/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scrolling */
}

.container {
  width: 1400px; /* Set a fixed width for the main container */
  height: 800px; /* Set a fixed height for the main container */
  overflow: auto; /* Enable scrolling within the container if necessary */
}

.slot-container,
.slot-container-right {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.slot-container {
  left: 20px;
}

.slot-container-right {
  right: 20px;
}

.slot {
  width: 50px;
  height: 50px;
  border: 2px dashed #ccc;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slot .remove-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
  cursor: pointer;
  display: none;
}

.slot:hover .remove-btn {
  display: block;
}

.slot.selected {
  border-color: orange;
}

.clear-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

/* Ensure the type container doesn't wrap and allows horizontal scrolling  */
.type-container {
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 20px;
}

/* Ensure type icons maintain their size */
.type-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  background-size: cover;
  background-position: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.type-icon.selected-primary {
  border-color: blue;
}

.type-icon.selected-secondary {
  border-color: green;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rect-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rect {
  width: 700px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.image-container img {
  width: 10%;
  height: auto;
  margin-right: 5px;
}

.image-container img:first-child {
  margin-left: 10px;
}

.green {
  background-color: #90ee90;
}

.light-gray {
  background-color: lightgray;
}

.red {
  background-color: #ff7f7f;
}

.dark-gray {
  background-color: darkgray;
}

.center-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
.center-label-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.save-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save-left-button, .save-right-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.fake-slots {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.fake-slot-primary, .fake-slot-secondary {
  width: 20px;
  height: 20px;
  border: 2px dashed #ccc;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.switch-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch-btn:hover {
  background-color: darkorange;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-results {
  position: absolute;
  bottom: -70px;
  left: 1%;
  width: 20%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 190px;
}

.result-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px;
}

th {
  background-color: #f2f2f2;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

